/* what we do */
.what-we-do
{

}

/* title */
.section-title
{

}

/* what we do content */
.what-we-do-item
{
  padding: 6rem 0;
  gap: 6rem;
}

.what-we-do-item img{
  max-width: 52rem;
}

.what-we-do-item .text
{
  max-width: 68rem;
}

/* viewport */
@media screen and (min-width: 992px)
{
  .what-we-do-item
  {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
  }

  .what-we-do-item:nth-child(even) .what-we-do-item-left
  {
    order: 2;
  }

}